body{
  background-color: #006400;
  color: white;
  background-attachment: fixed;
}

.heading{
  width: 1000px;
  box-shadow: 0 0 20px black;
  padding: 2em;
  border-radius: 2em;
  text-align: center;
  top:10em;
  opacity: 0.6;
  font-family: 'Oswald', sans-serif;
}
.input-group{
  width: 500px;
  top: 3em;
  left: 1em;
  box-shadow: 0 0 20px black;
  margin: 3em;
 opacity: 0.5;
}
.input{
  padding: 2em;

}
#email{
  background-color :#3CB371;

}
#user{
  background-color :#3CB371 ;

}
#phone{
  background-color :#3CB371 ;
}
#submit{
  top: 3em;
  left: 10em;
  box-shadow: 0 0 20px black;
  margin: 4em;
  margin-left: 5em;
  background-color: #006400;
  border-radius: 10px #006400;
  opacity: 0.8;

}
.candidate{
  width: 500px;
  top: 3em;
  left: 2em;
  box-shadow: 0 0 20px black;
margin-left: 8em;
 opacity: 0.5;
 padding: 2em;
 border-radius: 1%;
 text-align: center;
 font-size: 10px;
 margin-bottom: 0;
 margin-top: 10em;

 /* height: 20em; */


}

#link{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2em;

}
#link>a{
  text-decoration: none;
  background-color: #3CB371;
  padding: 2em;
}
a:hover{
  background-color: #006400;
}
.welcome{
  width: 500px;

  left: 2em;
  box-shadow: 0 0 20px black;
margin-left: 24em;
 opacity: 0.5;
 padding: 1em;
 border-radius: 1%;
 text-align: center;
 font-size: 10px;
margin-top: -10;

font-size: 2em;
}
