body{
 /* background-image: url(https://images.pexels.com/photos/355904/pexels-photo-355904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
background-color: #556B2F;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 color: white;

}
#header{
  text-align: center;
background-color: #006400;
color: black;
margin-top: 2em;
/* padding-left: 1em;
padding-right: 1em; */
margin-left: 1em;
margin-right: 1em;
font-family: 'ZCOOL QingKe HuangYou', cursive;
opacity: 0.7;
border-radius: 3em;
box-shadow: 10px 10px 8px #2F4F4F;
}
.row{
margin-left: 1em;
margin-right: 0;
}
.radio{
  margin-left: 3em;


}
.checkbox{
  margin-left: 3em;
}
form{
  width: 100%;
}
.row{
/* display: flex;
flex-direction: column; */
}
.col-md-8{
  /* width: 50%; */
}
.col-md-4{
  position:absolute;
 top:30em;
 right:3em;

padding: 3em;
mar
}

.yourScore{
background-color:#006400;
word-wrap: break-word;
/* overflow-x: hidden; */
overflow-y: scroll;
box-shadow: 0px 10px 8px #2F4F4F;
}
